a:hover {
    text-decoration: none;
}

.main-li {
    position: relative;
}

.dropdown-user-info {
    left: 10px;
}

.navbar-collapse {
    justify-content: space-between;
}
.pagination {

    padding-left: 50px;
    margin: 10px 0;

}


